<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mgo</title>
    <script type="text/javascript" src="/Static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/Static/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/Static/js/AppMain.js"></script>
    <script type="text/javascript" src="/Static/js/AppMainRewrite.js"></script>
    <script type="text/javascript" src="/Static/js/Flayer.js"></script>
    <script type="text/javascript" src="/Static/js/Fdata.js"></script>
    <link rel="stylesheet" type="text/css" href="/Static/css/AppMainRewrite.css">
</head>
<body>
    <div>这是页头</div>
    <a href="/index/index.html"><button info>首页</button></a>